html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  height: 100vh;
}

.main {
  overflow: auto;

  .container {
    margin: 148px 24px 0;
    background-color: #ffffff;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    padding-bottom: 48px;
  }

  &__image {
    background: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: -108px 45px 0;
    width: 237px;
    height: 180px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  &__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    color: #1e1f36;
    margin-bottom: 38px;
    align-self: center;
  }

  &__question {
    margin: 0 24px;
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: top 5px right;

    &__text {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #4d4e55;
      margin: 0;
      padding: 2px 43px 19px 1px;
      border-bottom: 1px solid #e8e8ea;

      &:hover {
        color: #f47b56;
        cursor: pointer;
      }
    }

    &__answer {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #787887;
      margin: 0;
      padding-bottom: 16px;
      display: none;
    }
  }

  &__question + &__question {
    margin-top: 17px;
  }
}

//
//
//DESKTOP
//
//
//

@media (min-width: 1440px) {
  .main {
    .container {
      overflow: hidden;
      margin: 129px 239px 130px 281px;
      display: flex;
      padding-bottom: 80px;
    }

    &__image {
      margin: 0;
      width: 472px;
      height: 359px;
      margin-left: -84px;
      margin-top: 70px;
      background-image: none;
    }

    &__content {
      width: 100%;
      margin-right: 95px;
      margin-left: 87px;
    }

    &__heading {
      align-self: start;
      margin-bottom: 43px;
    }

    &__question {
      margin: 0;
      &__text {
        padding: 2px 96px 19px 1px;
      }
    }

    &__question + &__question {
      margin-top: 16px;
    }
  }
}
